body {
  background-color: green;
}

header {
  background-color: green;
  padding-top: 0.05rem;
  margin: 0 0 0 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-radius: 0 0 0 1rem;
}

.buttons {
  display: flex;
  justify-content: right;
  text-align: right;
  margin: 1rem;
  padding: 0 0 0.5rem 0;
  gap: 1rem;
}

.App {
  text-align: center;
  background-color: #282c34;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

#initial-text {
  max-width: 35rem;
  margin: 0 auto;
  color: white;
}

#black-square {
  background-color: grey;
  width: 25rem;
  height: 30rem;
  margin: 0 0 0 18rem;
  border-radius: 1rem;
}

footer {
  background-color: green;
  margin: 5rem 0 0 0;
  padding: 0.7rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

@media (max-width: 600px) {
  #container {
    height: auto;
  }

  #initial-text {
    max-width: 90%;
  }
}